body{
    background-color: #0EE6F3;
}
.empresa{
    display: block;
    margin: auto;
}
.servicios{
    text-align: center;
    position: relative;
    bottom: 100px;
    font-family: berlin sans fb;
    font-size: 45px;
    color: #424242;
    font-weight: 200;
    
}
.ingreso{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 70px;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    background-color: #0D47A1;
    font-family: berlin sans fb;
    font-weight: 200;
    color: yellow;
}
.ingreso:hover{
    cursor:pointer;
}
@media screen and (max-width:480px){
    .empresa, .servicios, .ingreso{
        width:auto;
    }
}